---
const { pageTitle } = Astro.props;
import { Image } from 'astro:assets'
import favicon from '../../../public/favicon.svg'
import './../../styles/global.css'

const date = new Date();
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
    integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
    crossorigin="anonymous"
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="container">
        <header class="header">
          <a href="/"><Image src={favicon} alt="Logo" width='50'/></a>
        </header>
        <slot />
        <footer>
          Copyright © {date.getFullYear()} Jaro Pleus | <a href="/legal">Legal</a>
        </footer>
    </div>
  </body>
</html>