---
const { pageTitle } = Astro.props;
import { Image } from 'astro:assets'
import jaro from '../../../public/jaro.svg'
import './../../styles/global.css'
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="container">
        <header class="header">
          <Image src={jaro} alt="Logo" width='50'/>
        </header>
        <slot />
    </div>
  </body>
</html>