---
const { pageTitle } = Astro.props;
import { Image } from 'astro:assets'
import jaro from '../../../public/jaro.svg'
import './../../styles/global.css'

const date = new Date();
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="container">
        <header class="header">
          <a href="/"><Image src={jaro} alt="Logo" width='50'/></a>
        </header>
        <slot />
        <footer>
          Copyright © {date.getFullYear()} Jaro Pleus | <a href="/legal">Legal</a>
        </footer>
    </div>
  </body>
</html>