* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

hr {
    border: 0.5px solid #ddd;
}

.container {
    width: 100%;
    max-width: 43rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header img {
    margin: 4rem 0;
}

.main_index{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

