---
import BaseLayout from './layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }))
const pageTitle = "Home Page";
---
<BaseLayout pageTitle="Wow">
  <main class="main_index">
    <p>Hey there! I'm Jaro, a physics student from Germany, with a deep curiosity for physics and life in general.</p>
    <hr>
    <div>
      {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </div>
  </main>
</BaseLayout>
