---
import BaseLayout from "./layouts/BaseLayout.astro";
---
<BaseLayout title="Legal">
    <div class="legal_container">
        <h3>Legal</h3>
        <div>
            <h4>Contents in accordance with ยง5 DDG</h4> <br>
            Jaro Pleus <br>
            c/o IP-Management #45201 <br> 
            Ludwig-Erhard-Str. 18 <br>
            20459 Hamburg <br>
        </div>
        <div>
            <h4>Contact Information</h4> <br>
            E-Mail: mail@jaropleus.de <br>
            Phone number: +4942184498464 <br> <br>
            Editorial responsibility <br>
            Jaro Pleus <br>
        </div>
    </div>
</BaseLayout>